.header {
    padding: 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F0F0F0;
}

.main-container {
    display: flex;
    height: calc(100vh - 60px);
    .main-container-l {
        width: 60px;
        flex: 60px 0 0;
        background-color: #fff;
        border-right: 1px solid #F0F0F0;
    }
    .main-container-c {
        flex: calc(100% - 192px) 0 0;
        padding: 0 35px;
        position: relative;
        router-outlet {
            width: 100%;
        }
    }
    .main-container-r {
        width: 60px;
        flex: 60px 0 0;
        background-color: #fff;
        border-left: 1px solid #F0F0F0;
    }
}